<%= render "shared/second-header" %>

<div class="report-contents" >
  <div class="report-form-main" >
   <h1 class="report-form-subtitle">ライブレポートの記入</h1>
   <%= form_with model: @report, url: report_path, class: "report-form", local: true do |f| %>

   <%= render 'shared/error-messages', model: f.object %>

   <div class="report-form-feild">
    <div class="report-form-wrap">
     <label class="form-text">タイトル</label>
     <span class="indispensable">必須</span>
    </div>
    <%= f.text_field :title, class:"report-title", autofocus:true, placeholder:"レポートのタイトル(40文字まで)", maxlength:"40" %>
   </div>
   <div class="report-form-field">
    <div class="report-form-wrap">
     <label class="form-text">本文</label>
     <span class="indispensable">必須</span>
    </div>
    <%= f.text_area :text, class:"report-text", placeholder:"レポート内容(800文字まで)", maxlength:"800" %>
   </div>
   <div class="report-form-field">
    <div class="report-form-wrap">
     <label class="form-text">このライブのオススメポイント</label>
     <span class="indispensable" style="color: black;">任意</span>
    </div>
    <%= f.text_area :recommend, class:"report-recommend", placeholder:"オススメポイント(100文字)", maxlength:"100" %>
   </div>
   <div class="report-form-submit">
    <%= f.submit "変更する", class:"report-send-btn" %>
    <%= link_to "戻る" , report_path(@report.id), class:"back-btn" %>
   </div>
   <% end %>
  </div> 
</div>