<%= render "shared/second-header" %>

<div class="report-contents" >
  <div class="report-form-main" >
   <h1 class="report-form-subtitle">ライブレポートの記入</h1>
   <%= form_with model: @report, url: report_path, class: "report-form", local: true do |f| %>

   <%= render 'shared/error-messages', model: f.object %>

   <div class="report-form-feild">
    <div class="report-form-wrap">
     <label class="form-text">タイトル</label>
     <span class="indispensable">必須</span>
    </div>
    <%= f.text_field :title, class:"report-title", autofocus:true, placeholder:"レポートのタイトル(40文字まで)", maxlength:"40" %>
   </div>
   <div class="report-form-field">
    <div class="report-form-wrap">
     <label class="form-text">本文</label>
     <span class="indispensable">必須</span>
    </div>
    <%= f.text_area :text, class:"report-text", placeholder:"レポート内容(800文字まで)", maxlength:"800" %>
   </div>
   <div class="report-form-field">
    <div class="report-form-wrap">
     <label class="form-text">このライブのオススメポイント</label>
     <span class="indispensable" style="color: black;">任意</span>
    </div>
    <%= f.text_area :recommend, class:"report-short", placeholder:"オススメポイント(100文字)", maxlength:"100" %>
   </div>
   <div class="report-rate-form">
    <div class="report-form-wrap">
     <label class="form-text">このライブの激しさ</label>
     <span class="indispensable">必須</span>
    </div>
    <div class="rate-form-field">
     <%= f.label :violent, "評価", class: "violent" %>
     <div class="rate-detail" id="edit-violent-<%= @report.id %>"></div>
    </div>
   <div class="report-form-field">
    <div class="report-form-wrap">
     <label class="form-text">理由</label>
     <span class="indispensable" style="color: black;">任意</span>
    </div>
    <%= f.text_area :violent_reason, class:"report-short", placeholder:"理由(100文字まで)", maxlength:"100" %>
   </div>
   <div class="report-rate-form">
    <div class="report-form-wrap">
     <label class="form-text">女性、家族連れの方へのオススメ度</label>
     <span class="indispensable">必須</span>
    </div>
    <div class="rate-form-field">
     <%= f.label :with_family, "評価", class: "with-family" %>
     <div class="rate-detail" id="edit-with_family-<%= @report.id %>"></div>
    </div>
   <div class="report-form-field">
    <div class="report-form-wrap">
     <label class="form-text">理由</label>
     <span class="indispensable" style="color: black;">任意</span>
    </div>
    <%= f.text_area :with_family_reason, class:"report-short", placeholder:"理由(100文字まで)", maxlength:"100" %>
   </div>
   <div class="report-rate-form">
    <div class="report-form-wrap">
     <label class="form-text">ライブの予習必要度</label>
     <span class="indispensable">必須</span>
    </div>
    <div class="rate-edit-field">
     <%= f.label :preparation, "評価", class: "preparation" %>
     <div class="rate-detail" id="edit-preparation-<%= @report.id %>"></div>
    </div>
   <div class="report-edit-field">
    <div class="report-form-wrap">
     <label class="form-text">理由</label>
     <span class="indispensable" style="color: black;">任意</span>
    </div>
    <%= f.text_area :preparation_reason, class:"report-short", placeholder:"理由(100文字まで)", maxlength:"100" %>
   </div>

   <%= render 'shared/rate-edit' %>

   <div class="report-form-submit">
    <%= f.submit "変更する", class:"report-send-btn" %>
   </div>
   <% end %>
  </div> 
</div>