<%= render "shared/second-header" %>

<div class="report-show">
  <div class="report-box">
    <h3 class="ribbon8">タイトル</h3>
    <span class="show-title">
     <%= @report.title %>
    </span>
    <div class="show-content-box">
    <h3 class="ribbon8">アーティスト</h3>
    <span class="show-artist">
      <%= link_to @report.artist, artist_report_path(@report.id) %>
    </span>
   <div class="show-text-box">
    <h3 class="ribbon8">テキスト</h3>
    <span class="show-text">
      <%= @report.text %>
    </span>
   </div>
   <div class="show-content-box">
    <h3 class="ribbon8">オススメポイント</h3>
    <span class="show-recommend">
      <%= @report.recommend %>
    </span>
   </div>
   <div class="show-content-box">
    <h3 class="ribbon8">ライブの評価</h3>
   </div>
   <div class="show-rate-box">
    <span class="rate-contents-top">ライブの激しさ</span>
    <div class="show-rate" id="star-violent-<%= @report.id %>"></div>
   </div>
   <div class="reason-box">
     <%= @report.violent_reason %>
   </div>
   <div class="show-rate-box">
    <span class="rate-contents">女性・家族連れの方へのオススメ度</span>
    <div class="show-rate" id="star-with_family-<%= @report.id %>"></div>
   </div>
   <div class="reason-box">
     <%= @report.with_family_reason %>
   </div>   
   <div class="show-rate-box">
    <span class="rate-contents">ライブの予習必要度</span>
    <div class="show-rate" id="star-preparation-<%= @report.id %>"></div>
   </div>
   <div class="reason-box">
     <%= @report.preparation_reason %>
   </div>

   <%= render "shared/rate-show" %>

   <div class="show-user-box">
    <h3 class="ribbon8">投稿者</h3>
    <span class="show-nickname">
      <%= link_to @report.user.nickname, user_path(@report.user.id) %>
    </span>
   </div>

   <% if user_signed_in? && @report.user.id == current_user.id %>
      <%= link_to "レポートの編集", edit_report_path(@report.id), class: "edit-btn" %>
      <%= link_to "レポートの削除", report_path(@report.id), method: :delete, data: {confirm: "削除しますか？"}, class: "delete-btn" %>
   <% end %>
   <h3 class="ribbon8">コメント</h3>
   <% if user_signed_in? %>
     <%= form_with model: [@report, @comment], class: "comment-form", local: true do |f| %>

     <%= render 'shared/error-messages', model: f.object %>

      <%= f.text_area :text, placeholder:"コメントの記入(400字まで)", maxlength:"400", class:"comment-input" %>
      <p class="comment-warn">
       ※ 相手に配慮した丁寧なコメントをしましょう
      </p>
      <%= f.submit "コメントを送信する", class:"comment-send-btn" %>
     <% end %>
   <% else %>
     <p class="comment-no-login">
      ※ コメントするにはユーザー登録とログインが必要です ※
     </p>
   <% end %>
   <ul class="report-comment-box">
    <% @comments.each do |comment| %>
    <li class="comment-field">
     <span class="comment-user">
      <%= link_to comment.user.nickname, user_path(comment.user.id) %>
     </span>
     <span class="comment-text">
      <%= comment.text %>
     </span>
     <% if user_signed_in? && comment.user.id == current_user.id %>
       <%= link_to "コメントを削除する", report_comment_path(comment.report.id, comment.id), method: :delete, data: {confirm: "コメントを削除しますか？"}, class:"comment-delete-btn" %>
     <% end %>
    </li>
    <% end %>
   </ul>
  </div>
</div>


<%= render "shared/footer" %>
