<!DOCTYPE html>
<html>
  <head>
    <title>MusicBeatsSpirit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <header>
    <div class= "title">
     <%= link_to image_tag('title.png', class: "title-icon"),root_path %>
    </div>
    <div class= "navi">
     <ul class= "right-lists">
      <li class= "login">ログイン</li>
      <li class= "sign-up">新規登録</li>
     </ul>
    </div>
   </header>
    <%= yield %>
  </body>
</html>
